## NAME:GIWA MUBARAK OMOTOLANI
## DEPARTMENT:COMPUTER ENGINEERING
## MATRIC NO:EES/20/21/0191
## LEVEL:300L

#                                        PROJECT REPORT:

### House rent prediction in different location with machine learning

### The goal of this project is to:

#### I.) Implement a machine learning model capable of predicting the house rent for homes.

#### II.) Determine the essential features significantly needed to predict the house rent for homes.

### The basic procedures implemented to achieve the goals of this research are:

#### 1. Data collection 

#### 2. Data cleaning and exploration

#### 3. Feature encoding

#### 4. Train-test split validation

#### 5. Feature scaling

#### 6. Modeling

#### 7. Model evaluation

 ## pandas and numpy is a popular library for data manipulation and analysis the code below shows that we have imported pandas library and numpy library as 'pd'and 'np'.

In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline

## Data collection and Data Exploration

In [3]:
#  Load the CSV file into a Df

df = pd.read_csv('Aemf1.csv')

In [4]:
# The below code calls the top 5 data in the csv file

df.head()

,City,Price,Day,Room Type,Shared Room,Private Room,Person Capacity,Superhost,Multiple Rooms,Business,Cleanliness Rating,Guest Satisfaction,Bedrooms,City Center (km),Metro Distance (km),Attraction Index,Normalised Attraction Index,Restraunt Index,Normalised Restraunt Index
0,Amsterdam,194.033698,Weekday,Private room,False,True,2.0,False,1,0,10.0,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473
1,Amsterdam,344.245776,Weekday,Private room,False,True,4.0,False,0,0,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928
2,Amsterdam,264.101422,Weekday,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700
3,Amsterdam,433.529398,Weekday,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565
4,Amsterdam,485.552926,Weekday,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677

In [5]:
#The above helps us check the shape of the data, the no of rows and column

df.shape

(41714, 19)

### Data cleaning and exploration
##### After appropriate checking, I discovered that the dataset is void of null and duplicate values. This depicts that the dataset is
##### kind of clean from the onset.

In [6]:
# Check for missing values in the df

df.isnull()

,City,Price,Day,Room Type,Shared Room,Private Room,Person Capacity,Superhost,Multiple Rooms,Business,Cleanliness Rating,Guest Satisfaction,Bedrooms,City Center (km),Metro Distance (km),Attraction Index,Normalised Attraction Index,Restraunt Index,Normalised Restraunt Index
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41709,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41710,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41711,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41712,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41713,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [7]:
# Count the number of missing values for each column in the Df

df.isnull().sum()

City                           0
Price                          0
Day                            0
Room Type                      0
Shared Room                    0
Private Room                   0
Person Capacity                0
Superhost                      0
Multiple Rooms                 0
Business                       0
Cleanliness Rating             0
Guest Satisfaction             0
Bedrooms                       0
City Center (km)               0
Metro Distance (km)            0
Attraction Index               0
Normalised Attraction Index    0
Restraunt Index                0
Normalised Restraunt Index     0
dtype: int64

In [8]:
#It shows the info about the data 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41714 entries, 0 to 41713
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   City                         41714 non-null  object
 1   Price                        41714 non-null  float64
 2   Day                          41714 non-null  object
 3   Room Type                    41714 non-null  object
 4   Shared Room                  41714 non-null  bool
 5   Private Room                 41714 non-null  bool
 6   Person Capacity              41714 non-null  float64
 7   Superhost                    41714 non-null  bool
 8   Multiple Rooms               41714 non-null  int64
 9   Business                     41714 non-null  int64
 10  Cleanliness Rating           41714 non-null  float64
 11  Guest Satisfaction           41714 non-null  float64
 12  Bedrooms                     41714 non-null  int64
 13  City Center (km)             41714 non-null  float64
 14  Metro Distance (km)          41714 non-null  float64
 15  Attraction Index             41714 non-null  float64
 16  Normalised Attraction Index  41714 non-null  float64
 17  Restraunt Index              41714 non-null  float64
 18  Normalised Restraunt Index   41714 non-null  float64
dtypes: bool(3), float64(10), int64(3), object(3)
memory usage: 5.2+ MB

In [9]:
#This sum all duplicated value in all the columns 
df.duplicated().sum()

0

#### This helps in converting categorical variables into numerical format suitable for machine learning

In [10]:
df = pd.get_dummies(data=df,columns=['City','Day','Room Type','Shared Room','Private Room','Superhost'],drop_first=True)

In [11]:
df.head()

,Price,Person Capacity,Multiple Rooms,Business,Cleanliness Rating,Guest Satisfaction,Bedrooms,City Center (km),Metro Distance (km),Attraction Index,...,City_Lisbon,City_Paris,City_Rome,City_Vienna,Day_Weekend,Room Type_Private room,Room Type_Shared room,Shared Room_True,Private Room_True,Superhost_True
0,194.033698,2.0,1,0,10.0,93.0,1,5.022964,2.539380,78.690379,...,0,0,0,0,0,1,0,0,1,0
1,344.245776,4.0,0,0,8.0,85.0,1,0.488389,0.239404,631.176378,...,0,0,0,0,0,1,0,0,1,0
2,264.101422,2.0,0,1,9.0,87.0,1,5.748312,3.651621,75.275877,...,0,0,0,0,0,1,0,0,1,0
3,433.529398,4.0,0,1,9.0,90.0,2,0.384862,0.439876,493.272534,...,0,0,0,0,0,1,0,0,1,0
4,485.552926,2.0,0,0,10.0,98.0,1,0.544738,0.318693,552.830324,...,0,0,0,0,0,1,0,0,1,1

In [12]:
# Import the MinMaxScaler from scikit-learn for feature scaling

from sklearn.preprocessing import MinMaxScaler

In [13]:
# Display the column names of the Df
df.columns

Index(['Price', 'Person Capacity', 'Multiple Rooms', 'Business',
       'Cleanliness Rating', 'Guest Satisfaction', 'Bedrooms',
       'City Center (km)', 'Metro Distance (km)', 'Attraction Index',
       'Normalised Attraction Index', 'Restraunt Index',
       'Normalised Restraunt Index', 'City_Athens', 'City_Barcelona',
       'City_Berlin', 'City_Budapest', 'City_Lisbon', 'City_Paris',
       'City_Rome', 'City_Vienna', 'Day_Weekend', 'Room Type_Private room',
       'Room Type_Shared room', 'Shared Room_True', 'Private Room_True',
       'Superhost_True'],
      dtype='object')

In [14]:
#Saves the column names into col

col = df.columns

In [15]:
# Create an instance of the MinMaxScaler for feature scaling

Scaler = MinMaxScaler()

In [16]:
# Fit and transform the df using the MinMaxScaler
# This scales the numerical features in the df to a specified range (commonly between 0 and 1)

scaled_df = Scaler.fit_transform(df)
Scaler = Scaler.fit_transform(df)

In [17]:
#displaying the array 

Scaler

array([[0.00860338, 0.        , 1.        , ..., 0.        , 1.        ,
        0.        ],
       [0.01671827, 0.5       , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.01238864, 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       ...,
       [0.03254283, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.01438494, 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.00531862, 0.5       , 1.        , ..., 0.        , 1.        ,
        1.        ]])

### Using the train_test_split function from sklearn.model_selection to split the DataFrame into features (X) and the target variable (y) in other to split the data into TRAINING DATA AND TESTING DATA

In [18]:
## Split the DataFrame into features (X) and the target variable (y)
# Features (X) exclude the 'Price' column, which is set as the target variable (y)


from sklearn.model_selection import train_test_split
X = df.drop(['Price'],axis = 1)
y = df['Price']

In [19]:
# Split the dataset into training and testing sets using train_test_split
# X_train and y_train are the features and target variable for training
# X_test and y_test are the features and target variable for testing
# The test_size parameter specifies the proportion of the dataset to include in the test split (here, 20%)
# The random_state parameter ensures reproducibility by fixing the random seed

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=36)

# FOR REGRESSION MODEL EVALUATION METRICS
## WE CAN USE THREE DIFFERENT MODELS
### 1 ) R^2 (Pronounced r-squared) or coefficient of determination.
### 2) Mean absolute error which is also known as (MAE)
### 3) Mean squared error which is also known as (MSE)

**R^2**

What R-squared does: compares your model predictios to the mean of the targets. Values can ranfge from negative infinity (a very poor model) to 1. For example, if all your model does is predict the mean of the target, it's a R^2 value would be 0. And if your model prefectly predicts a range of numbers its R^2 value would be 1.

## Random Forest Regressor

In [20]:


from sklearn.ensemble import RandomForestRegressor 

np.random.seed(36)

x = df.drop("Price", axis=1)

y = df["Price"]

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

model = RandomForestRegressor(n_estimators = 100)
model.fit(X_train,y_train)

RandomForestRegressor()

In [21]:
model.score(X_test, y_test)

0.39426385894675076

In [22]:
from sklearn.metrics import r2_score
# fill an array with y__test mean
y_test_mean = np.full(len(y_test),y_test.mean())

In [23]:
y_test.mean()

259.09331477597027

In [24]:
r2_score(y_test, y_test_mean)

0.0

In [25]:
r2_score(y_test, y_test)

1.0

###  Mean absolute error (MAE)

In [26]:
# mean absolute error
from sklearn.metrics import mean_absolute_error

y_preds = model.predict(X_test)
mae = mean_absolute_error(y_test, y_preds)
mae

53.66265477743047

In [27]:
df = pd.DataFrame(data={"actual values": y_test, "predicted values": y_preds})

In [28]:
df["differences"] = df["predicted values"] - df["actual values"]

## Comparing Actual Values and Predicted Values

In [29]:
df

       actual values  predicted values  differences
14125      92.823236        125.142172    32.318936
36825     152.432609        121.459823   -30.972787
6890      197.080121        235.760317    38.680196
24859     279.149967        279.163580     0.013613
1808      854.170084        628.999221  -225.170863
...              ...               ...          ...
34823     161.550511        155.521006    -6.029505
37644     225.375821        261.881490    36.505668
31990     201.762794        202.978514     1.215720
36234     331.517546        320.526269   -10.991277
14446     148.517178        175.527565    27.010387

[8343 rows x 3 columns]

### Mean squared error (MSE)

In [30]:
# Mean squared error
from sklearn.metrics import mean_squared_error
y_preds = model.predict(X_test)
mse = mean_squared_error(y_test, y_preds)
mse

60988.22417432958

In [31]:
# calculate the MSE by hand
squared = np.square(df["differences"])
squared.mean()

60988.22417432954

##### Import the LinearRegression model from scikit-learn

In [32]:
from sklearn.linear_model import LinearRegression

#### Create an instance of the LinearRegression model and Fit the model to the training data

In [33]:
linear_model = LinearRegression()
linear_model.fit(X_train, y_train)

LinearRegression()

##### Create an instance of the RandomForest model and  Fit the model to the training data

In [34]:
rf_model = RandomForestRegressor()
rf_model.fit(X_train, y_train)

RandomForestRegressor()

##### Create an instance of the DecisionTreeRegressor model and  Fit the model to the training data

In [35]:
from sklearn.tree import DecisionTreeRegressor

In [36]:
dt_model = DecisionTreeRegressor()
dt_model.fit(X_train, y_train)

DecisionTreeRegressor()

In [37]:
# Make predictions using the trained Linear Regression model on the test data
linear_predictions = linear_model.predict(X_test)

# Make predictions using the trained RandomForestRegressor model on the test data
rf_predictions = rf_model.predict(X_test)

# Make predictions using the trained DecisionTreeRegressor model on the test data
dt_predictions = dt_model.predict(X_test)

### Calculating evaluation metrics for each model
###### 1. LinearRegression metrics

linear_mse = mean_squared_error(y_test, linear_predictions)
linear_mae = mean_absolute_error(y_test, linear_predictions)
linear_r2 = r2_score(y_test, linear_predictions)

###### 2. RandomForestRegression metrics

In [38]:
rf_mse = mean_squared_error(y_test, rf_predictions)
rf_mae = mean_absolute_error(y_test, rf_predictions)
rf_r2 = r2_score(y_test, rf_predictions)

###### 3. DecisionTreeRegression metrics

In [39]:
dt_mse = mean_squared_error(y_test, dt_predictions)
dt_mae = mean_absolute_error(y_test, dt_predictions)
dt_r2 = r2_score(y_test, dt_predictions)

In [40]:
print("Linear Regression:")
print(f"MSE: {linear_mse}")
print(f"MAE: {linear_mae}")
print(f"R2: {linear_r2}")
print("\nRandom Forest:")
print(f"MSE: {rf_mse}")
print(f"MAE: {rf_mae}")
print(f"R2: {rf_r2}")
print("\nDecision Tree:")
print(f"MSE: {dt_mse}")
print(f"MAE: {dt_mae}")
print(f"R2: {dt_r2}")

Linear Regression:

NameError: name 'linear_mse' is not defined

## DATA VISUALIZATION

##### 1.) LINEAR REGRESSION GRAPH

In [ ]:
plt.scatter(y_test, linear_predictions)

###### 2. Random Forest Regression Graph

In [ ]:
plt.scatter(y_test, rf_predictions)

###### 3. Decision Tree Regression

In [ ]:
plt.scatter(y_test, dt_predictions)

### Conclusion:
##### The near to accurate model is the RandomForest Regression Model